.sticky
	display: block

.updated:not(.published)
	display: none

.page-content,
.entry-content,
.entry-summary
	margin: 1.5em 0 0

.page-links
	clear: both
	margin: 0 0 1.5em

/* Contact page elements --------------------------------------------- */

.sw__contact--form,
.sw__contact--address,
.sw__contact--direct
	width: 40%
	margin: 0 5%

.sw__contact--address
	& > p
		margin: 0
