.site-footer
	display: block
	justify-content: center
	align-items: center
	background-color: $royal-blue

	.footer-naviagtion
		display: flex
		flex-direction: row
		justify-content: space-around
		flex-wrap: wrap
		padding: 5rem 5vw
		color: $pure-white

		ul
			list-style: none
			padding: 0 0 0 .6rem
			margin: 0

		li
			margin: .6rem 0

		.sub-menu
			//display: none
			text-indent: .6rem

	.site-info
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding: 0 5vw
		padding: 5rem 1rem 1rem 1rem
		font-size: .8rem
		color: $white

		& > *
			margin: 0

	.sitemap,
	.downloadables
		//width: 20%

	.sponsors
		text-align: center

		.gallery
			padding-top: 2rem
			align-items: center

		img
			object-fit: contain!important
			width: 200px!important
			filter: brightness(0) invert(.2)
			padding: 1rem
			border-radius: 16px
			background-color: transparent
			@include default-link-trans

			&:hover
				filter: none
				//background-color: $pure-white

.footer-header
	padding: 2rem 5vw
	background-color: lighten($royal-blue, 70)
	border-top: 1px solid $royal-blue
