.site-header {
	@include default-trans;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	background-color: $pure-white;
	height: 15vh ;
	position: fixed;
	width: 100vw ;
	margin: 0;
	top: 0;
	border-bottom: solid 2px rgba($racing-green, 1) ;
	z-index: 99999;

	.custom-logo-link {
		max-width: 12vh;
		width: 12vh;
		//transform: translate( 0, 2vh);
		transition: all .6s ease ;
		img {
			@include default-trans;
  		-webkit-filter: drop-shadow(0 2px 2px rgba($royal-blue, .3) );
  		//filter: drop-shadow(5px 5px 5px #222);

		}
	}
}

.nav-scrolled {
	height: 8vh ;
	box-shadow: 0 1px 8px rgba($royal-blue, .1) ;
	background-color: $royal-blue;

	.custom-logo-link {
		max-width: 6vh;
		width: 6vh;
		//transform: translate( 3vh , .5vh);

		img {
			-webkit-filter: none ;
		}
	}
}

.main-navigation {
	display: block;
	//width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				//width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 1rem
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.sub-menu {
		display: flex;
		flex-direction: column;
		background-color: $pure-white;

		a {
			white-space: nowrap ;
			color: $pure-black;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
