button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	border: 1px solid
	border-color: $color__border-button
	// overriding plugins like webba
	border-radius: 6px
	//!important
	background: $color__background-button
	color: $pure-white
	//line-height: 1.5
	padding: 1rem 2rem
	@include default-link-trans
	cursor: pointer

	&:hover,
	&:active,
	&:focus
		background-color: $color__bacground-button-focus
		color: $color__background-button


// Div buttons

.sw__btn
	padding: 1.2rem 3rem
	border-radius: 12px
	@include default-link-trans

.sw__btn--bright
	background-color: $red
	border: 2px solid $red
	color: $pure-white

	&:hover,
	&:active,
	&:focus
		background-color: transparent
		color: $red

.sw__btn--mute
	background-color: $royal-blue
	border: 2px solid $royal-blue

	&:hover,
	&:active,
	&:focus
		background-color: $royal-blue
		color: $pure-white

.sw__btn--solid
	//border: none

.sw__btn--wire
	background-color: transparent
	color: $royal-blue

// Quick sign up in footer

.qsup__email-input
	border-top-left-radius: 6px!important
	border-bottom-left-radius: 6px!important
	border-top-right-radius: 0!important
	border-bottom-right-radius: 0!important
	border: solid 0!important
	padding: .5rem 1rem!important

.qsup__submit
	border-top-left-radius: 0!important
	border-bottom-left-radius: 0!important
	border-top-right-radius: 6px!important
	border-bottom-right-radius: 6px!important
	border: solid 0!important
	background: $red
	color: rgba(0, 0, 0, 0.8)
	padding: .5rem 1rem!important
	line-height: 1.6!important
	margin-left: -4.2px
	cursor: pointer
	position: relative
	display: inline-block


	&:hover
		opacity: 1

		& > .qsup__compliance-text
			visibility: visible
			opacity: 1

	.qsup__compliance-text
		visibility: hidden
		opacity: 0
		width: 320px
		background-color: lighten($royal-blue, 10)
		color: $pure-white
		padding: 1rem 1.5rem
		border-radius: 6px
		text-align: left
		/* Position the tooltip text - see examples below! */
		position: absolute
		right: 0
		z-index: 1
		@include default-link-trans
		box-shadow: 2px 2px 4px rgba($pure-black, .4)
