.h__100
  height: 100vh

.w__100
  width: 100vw

.no__feature
  width: 100vw
  height: $hero-height

.sw__page
  margin-top: $nav-height

.sw__hero
  //overflow: hidden

  img
    width: 100vw
    height: $hero-height
    object-fit: cover
    object-position: center

.sw__header
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba($royal-blue, .9)
  width: 100vw
  height: $hero-height
  position: absolute
  top: $nav-height
  z-index: 1

.sw__strapline
  color: $pure-white
  position: absolute
  top: $nav-height + $hero-height
  z-index: 1
  margin: 0
  margin-top: -2 * $font-size-straplines

.sw__page--content
  display: block
  width: 95vw
  margin: 5vh auto

.sw__page--content > .wp-block-group
  max-width: 768px
  margin: 0 auto

  .wp-block-group__inner-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  .wp-block-group
    margin: 2rem 0
    & > .wp-block-group__inner-container
      display: block
      width: 200px
      margin: 0 1rem

    img
      height: 200px
      width: 200px
      object-fit: cover
      object-position: center
      border-radius: 12px
      border: 1px solid $royal-blue
      box-shadow: 3px 3px 6px 0 rgba($royal-blue , .1)

.sw__container
  display: flex
  align-items: center
  flex-direction: column

  .sw__mission

    & > .sw__mission--text
      text-align: center
      max-width: 800px
      font-weight: 300
      color: $racing-green
      font-size: 2rem
      padding: 0 1rem

    & > .h__line
      border-bottom: 1px solid rgba($royal-blue, .5)
      width: 40%
      height: 10px
      margin: auto

  .sw__cta
    display: flex
    flex-flow: wrap
    justify-content: space-around
    align-items: center
    width: 100vw
    height: 30vh
    max-width: 600px
    margin: 0 auto

.sw_entry_meta
  position: absolute
  width: 100vw
  height: $hero-height / 2
  top: $nav-height + $hero-height / 2
  z-index: 1
  font-weight: 200
  font-size: 2rem

  & > span
    padding: 0 .3rem

  a
    color: $pure-white
    border: 0 dotted $red
    border-radius: 2px

    &:hover
      border-bottom: 1px solid $red
      border-style: dotted

    &:hover,
    &:active,
    &:focus
      background-color: #ffeb3b
      color: $royal-blue


.sw_entry_footer
  display: block
  //flex-wrap: wrap
  width: 95vw
  margin: 5vh auto
  max-width: 1200px

.sw_comments-wrap
  background-color: rgba($royal-blue, .01)
  padding: 5rem 0

  .sw_comments_area
    width: 95vw
    margin: 0 auto
    max-width: 800px

  .comment
    display: flex
    flex-direction: row
    align-items: flex-start
    margin: 2rem 0
    width: 100

  .comment-body
    padding: 1rem 1rem 1rem 1rem
    width: 100%
    border: 1px solid rgba($royal-blue, .1)
    border-radius: 6px
    background-color: $pure-white
    position: relative
    margin-left: 14px

    .comment-meta
      color: $color__text-minor

.comment-footer
  display: flex
  flex-direction: row
  align-items: baseline

.comment_author-name
  margin: 0

.comment_author-ava
  margin-top: .5rem
  .avatar
    border-radius: 50%

.comment-footer
  justify-content: space-between

  .comment-reply-link
    text-align: right

    &:before
      font-family: "Font Awesome 5 Free"
      content: "\f3e5"
      display: inline-block
      padding-right: 3px
      vertical-align: middle
      font-weight: 900

.comment-respond
  max-width: 600px
  margin: 0 auto
  margin-top: 5rem

  input,
  textarea
    border: 1px solid rgba($royal-blue, .1)

.sw_comments_form
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.sw_comment_form-author
  width: 40%

  .form-group
    display: flex
    flex-direction: column

.sw_comment_form-text
  width: 100%

.sw_comment_submit-btn
  border-radius: 6px


.privacy-policy
  .entry-header
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    text-transform: uppercase
    //padding: 10rem 1rem
    width: 100vw
    height: 40vh
    position: relative
    z-index: 1
    h1
      font-weight: 200
      font-size: 4rem

.not__home

  .entry-header
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    text-transform: uppercase
    color: $pure-white
    //padding: 10rem 1rem
    background-color: rgba($royal-blue, .6)
    width: 100vw
    height: 300px
    position: absolute
    top: 15vh
    z-index: 1
    h1
      font-weight: 200
      font-size: 4rem

  .entry-content
    width: 95vw
    max-width: 800px
    margin: 0 auto
    padding: 5rem 0
